/**
 * The Priceco elements for the price tag and bomb has been extracted to its own git repository
 * This is cause it it is getting used in multiple other places
 *
 * https://github.com/AdaptRetail/priceco-style
 */
@import "../../node_modules/@priceco/style/src/Elements/_all.scss";

@import "Product";
