$price-background-color: #ed1b2d !default;
$price-font-size: 3.7em;
$price-font: "Teko";

// Import Google font
@import url( "https://fonts.googleapis.com/css?family=#{str-replace($price-font, " ", "+")}" );

.price {

    // Set font family to google font
    font-family: $price-font;

    line-height: 1;

    // Sizing
    // width: $price-width;
    font-size: $price-font-size;
    padding: .3em .5em .2em;

    // Added round edges on background
    border-radius: 50%;

    // Coloring
    background-color: $price-background-color;
    color: white;

    // Move to bottom right
    position: absolute;
    bottom: 0;
    right: 0;

    // Price tag in description
    &__save {
        text-decoration: line-through;
    }

}
