/**
 * Font settings
 */
// Import the google font
// Replaces the spaces in $google-font-name to "+" so it can be found by google
$google-font-name: "Roboto" !default;
@include google-font( $google-font-name );

$font-family: $google-font-name, sans-serif !default; $font-size: 3.5vw !default;
$font-color: black !default;

/**
 * Product
 */
$product-padding: 0 !default;
$product-name-font-size: 1.3em;
$product-vendor-height-aspect: 11%;
$product-vendor-spacing: .3em;

/*
 * This file is handling the style of each products in the swipe menu
 */
.product {

    /**
     * Set prouct default font settings
     */
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;

    // Add spacing from the edge
    padding: $product-padding;

    // You need to set height to make children also fill height
    height: 100%;

    &-image {

        // Added background image
        // The actual background image is set in "src/views/product.template.html"
        @include background-image( null, contain, bottom );

        // Fill parent height
        height: 100%;
    }
}


.vendor-logo {

    // Added background image but set background-position to left
    // The actual background image is set in "src/views/product.template.html"
    @include background-image( null, contain, left );

    // You cannot set height of this element to a percentage value cause of the parent height is not set.
    // You need to add padding-bottom. This is cause the padding values
    // is calculated through the width of the element, not the height. 
    padding-bottom: $product-vendor-height-aspect;

    // Add spacing to description
    margin-bottom: $product-vendor-spacing;
}

/**
 * Move the price tag to bottom right
 */
.price {
    position: absolute;
    bottom: 0;
    right: 0;
}

/**
 * Move the bomb tag to bottom right
 */
.bomb {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .85em;
}

/**
 * Product name
 */
.name {
    font-weight: bold;
    font-size: $product-name-font-size;
}
