/*
 * This files handles your typography settings in the banner
 */

// Setup google font family font
$google-font-name: "Roboto" !default;
$font-family: $google-font-name, sans-serif !default;

// Import the google font
// Replaces the spaces in $google-font-name to "+" so it can be found by google
@include google-font( $google-font-name );

// Add default font style
$font-size: 3.5vw !default;
$font-color: black !default;

/**
 * We are setting the font-family to the first element accessible
 * Cause in Adapt we cannot alter the html or body tag.
 * In production this will be replaced with "$id > *"
 */
> * {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
}
