/*
 * Set variables to everything you want to overwrite here
 * Every variable width a !default value will be overwritten
 */

$margin: 1em;
$font-size: 11pt;

$price-font-size: 5.5em !default;
$bomb-font-size: .85em !default;
